<div class="pure-g-r wrap">
    <div class="pure-u-2-3">
        <div class="panel" ng-include src="parent.getTpl">
        </div>
        <div gen-pagination="pagination"></div>
    </div>
    <div class="pure-u-1-3">
        <div class="panel pure-hidden-phone">
            <div class="inner text-center">
                <img src="static/image/angularjs.png" alt="AngularJS">
                <div class="text-show text-left">使用超动感HTML &amp; JS开发WEB应用！</div>
            </div>
        </div>
    </div>
</div>
